@model IEnumerable<DailyTrack.Models.Activity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <input type="text" id="newActivityName" />
    <input type="button" value="Add Activity" onclick="addNewActivity()" />
</p>
<table class="table">
    <tr>
        <th>
           @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
  
    <h2>Your daily activities</h2>

    <table>
        <thead>
            <tr>
                <th>Activity</th><th>Type</th><th>StartActivity</th>
                <th></th>
            </tr>
        </thead>
       
        <tbody data-bind="foreach: activities">
            <tr>
                <td dat-bind ="text name:"></td>
                <td data-bind="text: activityType().nameActivityType"></td>
                <td data-bind="text: activityType.start"></td>
            </tr>
        </tbody>
    </table>
  
}

</table>
@section Scripts {
    <script type="text/javascript">

        function ActivityList(name, initialType) {
            var self = this;
            self.name = name;
            self.name =ko.oservable(initialType);

        }

        function ActivitiesViewModel() {
            var self = this;
            self.availableTypes = [
                { nameActivityType: "study" ,start:3},
                { nameActivityType: "exercises",start:4},
                { nameActivityType: "groceries",start:5}
            ];
    
            self.activities = ko.observableArray([
                new ActivityList("Shopping", self.availableTypes[2]),
                new ActivityList("Homework", self.availableTypes[0])
            ]);
        }
        ko.apllyBindings(new ActivitiesViewModel());
      //  function typeA(name) {
            //return {
              //  name: ko.observable(name)
           // };
       // }
       // var addNewActivity = function() {
         //   var name = $('#newActivityName').val();
           // $.ajax({
             //   url: "/api/activities",
               // method: "POST",
                //data: {
                  //  id:-1,
                    //name: name
                //}
            //}).done(function (data) {
              //  alert(data);
           // })
        //}

        //$.ajax({
          //  url: "/api/activities",
            //method: "GET",
        //}).done(function (data) {
            //alert(data.length);
        //})

        //var test = {
        //    a: "test",
        //    b: 123,
        //    c: function (f) {
        //        f();
        //    }
        //};
        //test['c'](function () { alert('test') });

       // var viewModel = {
           // Name: ko.observable("Shopping"),
           // typesA: ko.observableArray([new typeA("Study"),new typeA("Phisical")])
       // };
       // ko.applyBindings(viewModel);
    </script>
}